---
import SelectMarca from "./SelectMarca.astro";
import SelectYear from "./SelectYear.astro";
import SelectColor from "./SelectColor.astro";
import SelectPuertas from "./SelectPuertas.astro";
import SelectTransmision from "./SelectTransmision.astro";
---

<section class="container mx-auto px-4 py-8 sm:px-8 sm:py-16 bg-white">
  <h2
    class="text-2xl sm:text-3xl text-center font-bold pb-16 capitalize break-words max-w-md mx-auto"
  >
    Selecciona las características de tu auto
  </h2>
  <form id="buscador">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 sm:gap-8 max-w-xs sm:max-w-full mx-auto"
    >
      <SelectMarca />
      <SelectYear />
      <div class="flex flex-col gap-1">
        <label class="font-semibold" for="minimo">Precio Min</label>
        <select class="border-gray-300 bg-slate-50 rounded-sm" id="minimo">
          <option value="">Seleccione</option>
          <option value="20000">20,000</option>
          <option value="30000">30,000</option>
          <option value="40000">40,000</option>
          <option value="50000">50,000</option>
          <option value="60000">60,000</option>
          <option value="70000">70,000</option>
          <option value="80000">80,000</option>
          <option value="90000">90,000</option>
        </select>
      </div>
      <div class="flex flex-col gap-1">
        <label class="font-semibold" for="maximo">Precio Max</label>
        <select class="border-gray-300 bg-slate-50 rounded-sm" id="maximo">
          <option value="">Seleccione</option>
          <option value="20000">20,000</option>
          <option value="30000">30,000</option>
          <option value="40000">40,000</option>
          <option value="50000">50,000</option>
          <option value="60000">60,000</option>
          <option value="70000">70,000</option>
          <option value="80000">80,000</option>
          <option value="90000">90,000</option>
        </select>
      </div>
      <SelectPuertas />
      <SelectTransmision />
      <SelectColor />
    </div>
  </form>
</section>
